@import '../../styles/functions.scss';
@import '../../styles/colors.scss';
@import '../../styles/z-index.scss';

.navContainer {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $background-menu;
	box-shadow: 0px 10px 5px -4px $shadow-color;
	z-index: $navbar-index;
	position: sticky;

	.menu {
		background-color: $background-menu;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		left: 0;
		top: 65px;
		height: 0;
		opacity: 0;
		transition: height 0.5s ease, opacity 0.25s ease;
		list-style: none;
		box-shadow: 0px 10px 5px -4px $shadow-color;
		justify-content: space-evenly;
		z-index: $navbar-index;

		&[data-open='true'] {
			height: 250px;
			opacity: 1;

			li {
				transition: opacity 0.25s ease;
				opacity: 1;
				pointer-events: initial;
			}
		}

		li {
			padding: 5px;
			text-transform: uppercase;
			opacity: 0;
			pointer-events: none;

			a {
				font-size: 17px;
				text-decoration: none;
				color: $text-color;
				transition: all 0.5s ease;

				&:hover {
					color: $primary-color;
					letter-spacing: 1px;
				}
			}
		}
	}
}

@include desktop {
	.navContainer {
		padding-inline: 125px;

		.menu {
			position: initial;
			flex-direction: row;
			align-items: center;
			width: 450px;
			left: initial;
			top: initial;
			height: initial;
			opacity: 1;
			column-gap: 15px;
			justify-content: center;
			align-items: center;
			box-shadow: initial;

			&[data-open='true'] {
				height: initial;
			}

			li {
				opacity: 1;
				pointer-events: initial;

				a {
					&:hover {
						letter-spacing: initial;
					}
				}
			}
		}
	}
}
