@import '../../styles/functions.scss';
@import '../../styles/colors.scss';

.navContainer {
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $background-menu;

	.menu {
		background-color: $background-menu;
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		left: 0;
		top: 70px;
		height: 0;
		opacity: 0;
		transition: height 0.5s ease, opacity 0.25s ease;
		list-style: none;
		justify-content: space-evenly;

		&[data-open='true'] {
			height: 250px;
			opacity: 1;
		}

		li {
			padding: 5px;
			text-transform: uppercase;
		}
	}
}

@include desktop {
	.navContainer {
		.menu {
			position: initial;
			flex-direction: row;
			align-items: center;
			width: 40vw;
			left: initial;
			top: initial;
			height: initial;
			opacity: 1;

			&[data-open='true'] {
				height: initial;
			}
		}
	}
}
