@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.aboutMeContainer {
	max-width: 85%;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	gap: 50px;

	.info {
		h2 {
			color: $text-subtitle-color;
			font-weight: 100;
			font-size: 22px;
		}

		.subtitle {
			color: $primary-color;
			font-weight: 500;
			font-size: 48px;
			margin: 5px 0 20px 0;
		}

		.aboutMe {
			font-size: 18px;
			line-height: 30px;
		}
	}

	.image {
		display: flex;
		justify-content: center;

		img {
			border-radius: 10px;
			box-shadow: 0px 0px 10px 5px rgb(91 84 85 / 10%);
		}
	}
}

@include desktop {
	.aboutMeContainer {
		flex-direction: row;

		.image img {
			height: 350px;
			width: 420px;
			transition: 0.75s;

			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
