@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.hamburgerContainer {
	display: block;
	cursor: pointer;
	align-self: center;

	.line {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.5s ease-in-out;
		background-color: $primary-color;
	}

	&[data-open='true'] {
		.line:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}

		.line:nth-child(2) {
			opacity: 0;
		}

		.line:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}
	}
}

@include desktop {
	.hamburgerContainer {
		display: none;
	}
}
