@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.container {
	width: 85%;

	h2 {
		color: $text-subtitle-color;
		font-weight: 100;
		font-size: 22px;
	}

	.subtitle {
		color: $primary-color;
		font-weight: 500;
		font-size: 48px;
		margin: 5px 0 30px 0;
	}

	.contactContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;

		.info {
			background-color: $background-color;
			box-shadow: 0px 0px 10px 5px rgba($shadow-color, 0.1);
			width: 350px;
			border-radius: 10px;
			padding: 16px;
			display: flex;
			flex-direction: column;
			align-items: center;

			p {
				color: $text-subtitle-color;
				width: 80%;
				margin: auto;
				text-align: center;
			}

			.icons {
				width: 40%;
				margin-top: 20px;
				display: flex;
				justify-content: space-around;

				img {
					cursor: pointer;
					transition: all 0.3s ease;

					&:hover {
						transform: translateY(-5px);
					}
				}
			}
		}

		.mail {
			background-color: $background-color;
			box-shadow: 0px 0px 10px 5px rgba($shadow-color, 0.1);
			border-radius: 10px;
			padding: 16px 32px;
			width: 350px;

			.formItem {
				display: flex;
				flex-direction: column;
				gap: 5px;
				margin: 15px 0;

				label {
					color: $text-subtitle-color;
				}

				input,
				textarea {
					padding: 6px;
					border-radius: 6px;
					border: 0.5px solid $text-subtitle-color;
					outline: none;
					font-size: 16px;
				}

				textarea {
					resize: none;
					height: 60px;
				}
			}

			button {
				font-size: 18px;
				background-color: $primary-color;
				color: whitesmoke;
				border: none;
				margin: auto;
				display: flex;
				padding: 10px 15px;
				border-radius: 50px;
				cursor: pointer;
				align-items: center;
				transition: all 0.3s ease;

				&:after {
					content: '\27A4';
					margin-left: 5px;
				}

				&[data-sent='true'] {
					background-color: $success-color;
					font-size: 0;

					&::after {
						content: '\2713';
						margin-left: 0;
						font-size: 20px;
					}
				}
			}
		}
	}
}

@include desktop {
	.container {
		.contactContainer {
			flex-direction: initial;
			justify-content: space-around;

			.info,
			.mail {
				width: 450px;
			}

			.mail button {
				font-size: 20px;
			}
		}
	}
}
