$background-color: #ecf0f3;
$background-menu: #ffffff;
$background-unfocused: rgba(72, 72, 72, 0.3);

$text-color: #1f2937;
$text-subtitle-color: #858585;

$primary-color: #4b47d7;

$shadow-color: #5b545526;
