@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import './colors.scss';
@import './functions.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth !important;
}

body {
	background-color: $background-color;
	font-family: 'Varela Round', sans-serif;
	color: $text-color;

	&.sticky {
		overflow: hidden;

		#content {
			pointer-events: none;
			background-color: $background-unfocused;
			filter: blur(2px);
			height: 100vh;
		}
	}
}

h1 {
	font-weight: 100;
}

.section {
	height: 100%;
	margin: auto;
	max-width: 1280px;
	min-height: calc(100vh - 70px);
	display: flex;
	justify-content: center;
	align-items: center;
}

*::-webkit-scrollbar {
	display: none;
}

@include desktop {
	body {
		&.sticky {
			overflow: initial;
			#content {
				pointer-events: initial;
				background-color: initial;
				filter: initial;
				height: initial;
			}
		}
	}

	*::-webkit-scrollbar {
		display: initial;
		width: 5px;
		height: 4px;
	}

	*::-webkit-scrollbar-track {
		background: transparent;
	}

	*::-webkit-scrollbar-thumb {
		background-color: $text-subtitle-color;
		border-radius: 20px;
		border: transparent;
	}
}
